{% extends "padre.html" %}
{% load static %}
{% block title %}Política de Privacidad{%endblock%}

{% block content %}
<br><br><br>
<div class="py-5">
  <div class="container">
    <div class="row align-items-center">
  <h1>Política de privacidad</h1>

  <p>Esta Política de privacidad describe cómo MINERA S.A. (en adelante, la "Empresa") recopila, utiliza y divulga su información personal cuando utiliza el sitio web EPP (en adelante, el "Sitio web"). La Empresa se compromete a proteger su privacidad y a utilizar su información personal de manera responsable.</p>

  <h4>Recopilación de información personal</h4>

  <p>La Empresa recopila información personal sobre usted cuando usted:</p>

  <ul>
    <li>Visita el Sitio web.</li>
    <li>Se registra para obtener una cuenta en el Sitio web.</li>
    <li>Utiliza las funciones del Sitio web.</li>
    <li>Se pone en contacto con la Empresa.</li>
  </ul>

  <p>La información personal que la Empresa recopila puede incluir:</p>

  <ul>
    <li>Su nombre y apellido.</li>
    <li>Su dirección de correo electrónico.</li>
    <li>Su número de teléfono.</li>
    <li>Su cargo.</li>
    <li>Su empresa.</li>
    <li>Su dirección IP.</li>
    <li>Su navegador web y sistema operativo.</li>
    <li>La fecha y hora de su visita al sitio</li>
    <li>Las páginas que visita en el Sitio web.</li>
    </ul>
    <p>La Empresa también puede recopilar información personal sobre usted de terceros, como plataformas de redes sociales.</p>

  <h4>Uso de la información personal</h4>

  <p>La Empresa utiliza su información personal para:</p>

  <ul>
    <li>Proporcionar y mejorar el Sitio web.</li>
    <li>Procesar sus solicitudes.</li>
    <li>Comunicarse con usted.</li>
    <li>Realizar investigaciones de mercado.</li>
    <li>Prevenir el fraude y el abuso.</li>
    <li>Cumplir con la ley.</li>
  </ul>

  <p>La Empresa no venderá ni alquilará su información personal a terceros.</p>

  <h4>Divulgación de la información personal</h4>

  <p>La Empresa puede divulgar su información personal a terceros en los siguientes casos:</p>

  <ul>
    <li>Con su consentimiento.</li>
    <li>Para cumplir con la ley o una orden judicial.</li>
    <li>Para proteger sus derechos o los derechos de la Empresa.</li>
  </ul>

  <h4>Seguridad de la información personal</h4>

  <p>La Empresa toma medidas razonables para proteger su información personal de la pérdida, el robo, el uso indebido, el acceso no autorizado, la divulgación, la alteración y la destrucción. Sin embargo, ninguna medida de seguridad es perfecta y la Empresa no puede garantizar la seguridad absoluta de su información personal.</p>

  <h4>Sus derechos</h4>

  <p>Usted tiene derecho a:</p>

  <ul>
    <li>Acceder a su información personal.</li>
    <li>Corregir su información personal.</li>
    <li>Eliminar su información personal.</li>
    <li>Restringir el tratamiento de su información personal.</li>
    <li>Oponerse al tratamiento de su información personal.</li>
    <li>Solicitar la portabilidad de su información personal.</li>
  </ul>

  <p>Para ejercer sus derechos, puede ponerse en contacto con la Empresa en [dirección de correo electrónico o número de teléfono].</p>

  <h4>Cambios en la Política</h4>

  <p>La Empresa puede modificar esta Política en cualquier momento publicando la Política modificada en el Sitio web. Los cambios en la Política entrarán en vigor al cabo de los treinta (30) días siguientes a su publicación.</p>

  <h4>Contacto</h4>

  <p>Si tiene alguna pregunta sobre esta Política, puede ponerse en contacto con la Empresa en +541134567891 o info@minerasa.com.ar.</p>
                
    </div>
  </div>
</div>    
{% endblock %}