{% extends "padre.html" %}
{% load static %}
{% block title %}Términos de Uso{%endblock%}

{% block content %}
    <br><br><br>
    <div class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <h1>Términos de Uso</h1>
                <hr>
                <h4>Introducción</h4>
                <p>Estos Términos de uso (en adelante, los "Términos") regulan el uso del sitio web EPT (en adelante, el "Sitio web") propiedad de MINERA S.A. (en adelante, la "Empresa").

                Al acceder y utilizar el Sitio web, usted (en adelante, el "Usuario") acepta y se compromete a cumplir con estos Términos. Si no está de acuerdo con estos Términos, no debe utilizar el Sitio web.</p>
                <h4>Uso del Sitio web</h4>
                <p>El Sitio web está diseñado para uso interno de los empleados de la Empresa para llevar el control de la entrega de Elementos de Protección Personal (EPP) a los empleados. El Usuario solo podrá utilizar el Sitio web para este propósito.</p>
                <p>El Usuario no podrá utilizar el Sitio web para ningún otro propósito, incluyendo, pero no limitado a:
                    <ul>
                    <li>Cualquier actividad ilegal o fraudulenta.</li>
                    <li>Enviar o publicar cualquier contenido que sea difamatorio, obsceno, amenazante, abusivo o de otra manera objetable.</li>
                    <li>Interferir con el funcionamiento del Sitio web.</li>
                    <li>Intentar acceder sin autorización a cualquier parte del Sitio web o a cualquier otra cuenta o sistema informático a los que se acceda a través del Sitio web.</li>
                    </ul>                                    
                </p>
                <h4>Propiedad intelectual</h4>
                <p>Todo el contenido del Sitio web, incluyendo, pero no limitado a, texto, imágenes, gráficos, marcas comerciales y logotipos, es propiedad de la Empresa o de sus licenciantes y está protegido por las leyes de propiedad intelectual aplicables. El Usuario no podrá copiar, reproducir, distribuir, modificar, mostrar o crear trabajos derivados de ningún contenido del Sitio web sin el consentimiento previo por escrito de la Empresa.</p>
                <h4>Enlaces externos</h4>
                <p>
                    El Sitio web puede contener enlaces a otros sitios web que no son propiedad ni están controlados por la Empresa. La Empresa no se hace responsable del contenido, la precisión o las prácticas de dichos sitios web. El Usuario accede a ellos bajo su propio riesgo.
                </p>
                <h4>Renuncia de garantías</h4>
                <p>EL SITIO WEB SE PROPORCIONA "TAL CUAL" Y "SEGÚN DISPONIBILIDAD". LA EMPRESA NO OFRECE NINGUNA GARANTÍA, EXPRESA O IMPLÍCITA, DE NINGÚN TIPO CON RESPECTO AL SITIO WEB, INCLUYENDO, PERO NO LIMITADO A, GARANTÍAS DE COMERCIALIZACIÓN, ADECUACIÓN PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN.
                LA EMPRESA NO GARANTIZA QUE EL SITIO WEB SEA ININTERRUMPIDO O LIBRE DE ERRORES. EL USUARIO ASUME LA TOTAL RESPONSABILIDAD POR CUALQUIER DAÑO O PÉRDIDA QUE PUEDA SURGIR DEL USO DEL SITIO WEB.</p>
                <h4>Limitación de responsabilidad</h4>
                <p>EN NINGÚN CASO LA EMPRESA SERÁ RESPONSABLE DE NINGÚN DAÑO DIRECTO, INDIRECTO, INCIDENTAL, ESPECIAL, CONSECUENTE O EJEMPLAR, INCLUYENDO, PERO NO LIMITADO A, PÉRDIDA DE BENEFICIOS, USO, DATOS U OTROS DAÑOS TANGIBLES O INTANGIBLES, QUE SURJAN DE O ESTÉN RELACIONADOS CON EL USO O LA IMPOSIBILIDAD DE USO DEL SITIO WEB, INCLUSO SI LA EMPRESA HA SIDO ADVERTIDA DE LA POSIBILIDAD DE TALES DAÑOS.</p>
                <h4>Terminación</h4>
                <p>La Empresa puede, a su discreción, terminar el acceso del Usuario al Sitio web en cualquier momento y sin previo aviso. La Empresa también puede modificar o suspender el Sitio web en cualquier momento sin previo aviso.</p>
                <h4>Disposiciones generales</h4>
                <p>Estos Términos se regirán e interpretarán de conformidad con las leyes de la República Argentina. Cualquier disputa que surja de estos Términos se someterá a la jurisdicción exclusiva de los tribunales de la Ciudad Autónoma de Buenos Aires, Argentina.</p>
            </div>
        </div>
    </div>    
{% endblock %}